hmtl, body{
  padding: 0;
  margin: 0;
}
body{
  background-color: #EBEBEB;
  padding: 0;
}
#paginaprincipal{
    margin:0 auto ;
    background-color: #FFFFFF;
    width: 1220px;
    height: 1320px;
    padding-bottom: 20px;
}
#topo{
    position: relative;
    background-color: #21272B;
    height: 130px;
    width: 1220px;
    margin: 0 10 0 10auto;
    padding: 0;
}
#barcologo{
    width: 55px;
    margin-left: 30px;
    margin-top: 30px;

}
#luxo{
    color:#1BB4E8;
    font-style: Italic;
    width: 60px;
    left:105px;
    bottom: 90px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    position: relative;
}
#aluguel{
    color: #FFFFFF;
    font-style: Italic;
    left:100px;
    bottom: 110px;
    font-size: 30px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    position: relative;
}
#menu {
    width: 650px;
    list-style: none;
    position: relative;
    top: -160px;
    left: 380px;
  }
  
#menu li {
    display: inline-block;
    border-right: 1px solid white;
  }
  
  #menu li:last-child {
    border: 0px;
  }
  
  #menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
  }
  
  #menu li a:hover{
    color: #1bb4e8;
  }
.caixa{background-color: #0b525f;
  border-radius: 10px;
 margin-left: 20px;
 margin-right: 20px ;
 height: 400px;
 position: relative;
 margin-bottom: 80px;
}
#titulo{background-color: #1BB4E8;
  width: 215px;
  font-size: 25px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  border-radius: 5px;
  padding: 0;}
.iate{width: 380px;
      margin-left: 60px;
      margin-top: 65px;}
#botao1{margin-left: 300px;
        position: relative;
        bottom: 100px;
        width: 300px;
        height: 100px;
        border-radius: 10px;
        font-size: 30px;
        background-color: rgb(189, 190, 194);
        color: #000000;
      }
#botao2{margin-left: 300px;
        position: relative;
        bottom: 100px;
        width: 300px;
        height: 100px;
        border-radius: 10px;
        font-size: 30px;
        background-color: rgb(189, 190, 194);
        color: #000000;
      }
#botao3{margin-left: 300px;
        position: relative;
        bottom: 100px;
        width: 300px;
        height: 100px;
        border-radius: 10px;
        font-size: 30px;
        background-color: rgb(189, 190, 194);
        color: #000000;
      }
#botao4{margin-left: 300px;
        position: relative;
        bottom: 100px;
        width: 300px;
        height: 100px;
        border-radius: 10px;
        font-size: 30px;
        background-color: rgb(189, 190, 194);
        color: #000000;
      }